<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}Virtual Storage Manager{% endblock %}</title>
	<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/dashboard.css" rel="stylesheet">
	<script src="{{ STATIC_URL }}js/jquery-1.11.2.min.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}js/dashboard.js"></script>
	{% block js %}{% endblock %}
</head>
<body>
	<!--The frame work of dashboard-->
  	<div id="framework">
  		<!--the navigate area-->
		<nav  class="navbar navbar-inverse" style="border-radius:0px">
	        <div id="divNavBar">
	            <ul class="nav navbar-nav">
	                <li><a href="/home/">Virtual Storage Manager</a></li>
	                <li><button id="btnGenerateManifest" class="btn btn-success">Generate Manifest</button></li>
	            </ul>
	        </div>
		</nav>
		<div id="divMain">
  			{% block content %}{% endblock %}
  		</div>
  	</div>
</body>
</html>
