hr{
    margin-bottom: 15px;
}

.alert{
    margin-bottom: 10px;
}

.label-1{
    width: 130px;
}

.label-2{
    width: 295px;
}

.lable-storage-class{
    margin-left: 10px;
}

.lable-storage-class:hover{
    background-color: red;
}

#framework
{
    text-align: center;
}


#divNavBar
{
    text-align: left;
}

#tabManifest{
    margin-top: 10px;
}

#tabManifest>li>a{
    color: black;
}

.remove:hover{
    cursor: pointer;
}

.nav>li>a
{
    font-size: 14px;
    font-family: 'ClearSans-Medium', 'Arial';
    color: white;
}

.module-wrap{
    margin: 15px;
    margin-top: 0px;
    width: 1024px;
    /*border: 1px solid gray;*/
}

.module-title{
    margin: 5px;
    margin-top: 25px;
    font-size: 18px;
    display:inline-block;
    color: #337ab7;
}

.option-bar{
    text-align: right;
    margin:15px 0px 0px 0px;
}

.btn-right{
    margin-top: 20px;
    float: right;
}

#btnGenerateManifest{
    margin-top: 8px;
}


#divNodes{
    /*border: 1px solid #ccc;*/
    padding-left: 40px;
}


#divMain{
    text-align: left;
    overflow: hidden;
}


.form-group label{
    text-align: right;
    margin-left: 5px;
}


.storage-class{
    margin-top: 10px;
    margin-left: 20px;
    /*border:1px solid #ccc;*/
}

.storage-class span{
    font-size: 14px;
    font-weight: normal;
}

.storage-class span:hover{
    cursor: pointer;
}


.table{
    margin:10px 0px 0px 0px;
}

#tStorageGroup thead tr th{
    width: 310px;
    text-align: center;
    border-bottom: none;
}


#tProfiles thead tr th{
    width: 310px;
    text-align: center;
    border-bottom: none;
}


#tPath thead tr th{
    width: 470px;
    text-align: center;
    border-bottom: none;
}

.form-option-bar{
    text-align: right;
    height: 80px;
}

.profile-detail{
   /* width: 600px;
    border: 1px solid #ccc;*/
}

.profile-detail label{
    width: 120px;
}

/*.row-option a{
    margin-left: 10px;
}
*/
.popover{
    width: 500px;
}

.table-server-path thead tr th{
    text-align: center;
    border-bottom:0px;
}