<!--Basic-->
<div id="divBasicForm" class="module-wrap">
    <span class="module-title">Basic</span>
    <button id="btnSaveClusterBasic" class="btn btn-success btn-right" onclick='SaveClusterBasic()'>Save</button>
    <hr>
    <!--Warning tip-->
    <div id="divBasicMessage">
    </div>
    
    <!-- {{cluster_basic_data}} -->
    <form class="form-inline">
      <div class="form-group">
        <label class="label-1" for="lblCluster">cluster</label>
        <input id="txtCluster" type="textbox" class="form-control" value="{{config_data.controller_address}}" readOnly="true"/>
      </div>
      <div class="form-group">
        <label class="label-1" for="selFileSystem">file system</label>
        <select id="selFileSystem" class="form-control" style="width:195px;">
          <option value="xfs">xfs</option>
          <option value="nfts">nfts</option>
        </select>
        <input id="hfFileSystem" type="hidden" value="{{cluster_basic_data.file_system}}"/>
      </div>
      <br>
      <br>
      <div class="form-group">
        <label class="label-1" for="lblManagementAddress">management addr.</label>
        <input id="lblManagementAddress" type="textbox" class="form-control" value="{{cluster_basic_data.management_addr}}" placeholder="192.168.0.1/10" />
      </div>
      <div class="form-group">
        <label class="label-1" for="lblCephPublicAddress">ceph public addr.</label>
        <input id="lblCephPublicAddress"  type="textbox" class="form-control" value="{{cluster_basic_data.ceph_public_addr}}" placeholder="192.168.0.1/10" />
      </div>
      <div class="form-group">
        <label class="label-1" for="lblCephClusterAddress">ceph cluster addr.</label>
        <input id="lblCephClusterAddress" type="textbox" class="form-control" value="{{cluster_basic_data.ceph_cluster_addr}}" placeholder="192.168.0.1/10" />
      </div>
    </form>
</div>
<!--Storage-->
<div id="divStorageForm" class="module-wrap">
    <span class="module-title">Storage Group</span>
    <button btn="btnSaveStorage" class="btn btn-success btn-right" onclick="SaveClusterStorage()">Save</button>
    <hr>
     <!--message tip-->
    <div id="divStorageMessage">
    </div>

    <!-- {{cluster_storage_data}} -->
    <form class="form-inline">
      <div class="form-group">
        <label class="label-1" for="lblStorageClass">storage class</label>
        <input id="txtStorageClass" type="textbox" class="form-control" />
        <a id="btnAddStorageClass" class="btn btn-primary" onclick='AddStorageClass()'>add</a>
      </div>
      <div id="divStorageClass1" class="form-group storage-class">
        {% for storage_class in cluster_storage_data.storage_class %}
          <span class="label label-info lable-storage-class" onclick='RemoveStorageClass(this)'>{{storage_class}}</span>
        {% endfor %}
      </div>
      <div class="option-bar">
        <a id="btnAddStorageGroup" class="btn btn-primary" onclick="AddStorageGroup()">Add Storage Group</a>
      </div>
      <table id="tStorageGroup" class="table table-bordered">
      <thead>
        <tr>
          <th>group name</th>
          <th>friendly name</th>
          <th>storage class</th>
          <th style="width:200px;"></th>
        </tr>
      </thead>
      <tbody>
        {% for storage_group in cluster_storage_data.storage_group %}
          <tr>
            <td class='group-name'>{{storage_group.group_name}}</td>
            <td class='friendly-name'>{{storage_group.friendly_name}}</td>
            <td class='storage-class'>{{storage_group.storage_class}}</td>
            <td><a class="btn btn-danger" onclick="RemoveStorageGroup(this)">remove</a></td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4">
              no data
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </form>
</div>
<!--Profiles-->
<!-- <div id="divProfilesForm" class="module-wrap">
    <span class="module-title">Profiles</span>
    <button btn="btnSaveProfiles" class="btn btn-success btn-right">Save</button>
    <hr>
    <div class="option-bar">
        <button btn="btnAddProfile" class="btn btn-primary">Add Profile</button>
    </div>
    <table id="tProfiles" class="table table-bordered">
      <thead>
        <tr>
          <th>name</th>
          <th>plugin</th>
          <th>plugin path</th>
          <th>pg_num value</th>
          <th>json values</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="5">
            no data
          </td>
        </tr>
      </tbody>
    </table>
</div> -->

<!--Cache-->
<!-- <form class="form-inline">
<div id="divCacheForm" class="module-wrap">
    <span class="module-title">Cache</span>
    <button btn="btnSaveCache" class="btn btn-success btn-right">Save</button>
    <hr>

      <div class="form-group">
        <label class="label-2" for="lblFileSystem">ct hit set count</label>
        <input id="lblFileSystem"  type="textbox" class="form-control" />
      </div>
      <div class="form-group">
        <label class="label-2" for="lblFileSystem">ct hit set period s</label>
        <input id="lblFileSystem"  type="textbox" class="form-control" />
      </div>
      <br>
      <br>
      <div class="form-group">
        <label class="label-2" for="lblFileSystem">ct target max objects</label>
        <input id="lblFileSystem"  type="textbox" class="form-control" />
      </div>
      <div class="form-group">
        <label class="label-2" for="lblFileSystem">ct target max mem mb</label>
        <input id="lblFileSystem"  type="textbox" class="form-control" />
      </div>
      <br>
      <br>
      <div class="form-group">
        <label class="label-2" for="lblFileSystem">ct target dirty ratio</label>
        <input id="lblFileSystem"  type="textbox" class="form-control" />
      </div>
      <div class="form-group">
        <label class="label-2" for="lblFileSystem">ct target full ratio</label>
        <input id="lblFileSystem"  type="textbox" class="form-control" />
      </div>
      <br>
      <br>
      <div class="form-group">
        <label class="label-2" for="lblFileSystem">ct target min flush age m</label>
        <input id="lblFileSystem"  type="textbox" class="form-control" />
      </div>
      <div class="form-group">
        <label class="label-2" for="lblFileSystem">ct target min evict age m</label>
        <input id="lblFileSystem"  type="textbox" class="form-control" />
      </div>
</div>
 -->
<!--Settings-->
<!-- <div id="divSettingsForm" class="module-wrap">
    <span class="module-title">Settings</span>
    <button btn="btnSaveSettings" class="btn btn-success btn-right">Save</button>
    <hr>
      <div class="form-group">
        <label class="label-2" for="lblFileSystem">storage group near full threshold</label>
        <input id="lblFileSystem"  type="textbox" class="form-control" />
      </div>
      <div class="form-group">
        <label class="label-2" for="lblFileSystem">storage group full threshold</label>
        <input id="lblFileSystem"  type="textbox" class="form-control" />
      </div>
    <br>
    <br>
      <div class="form-group">
        <label class="label-2" for="lblFileSystem">ceph near full threshold</label>
        <input id="lblFileSystem"  type="textbox" class="form-control" />
      </div>
      <div class="form-group">
        <label class="label-2" for="lblFileSystem">ceph full threshold</label>
        <input id="lblFileSystem"  type="textbox" class="form-control" />
      </div>
    <br>
    <br>
      <div class="form-group">
        <label class="label-2" for="lblFileSystem">pg count factor</label>
        <input id="lblFileSystem"  type="textbox" class="form-control" />
      </div>
      <div class="form-group">
        <label class="label-2" for="lblFileSystem">heartbeat interval</label>
        <input id="lblFileSystem"  type="textbox" class="form-control" />
      </div>
    <br>
    <br>
      <div class="form-group">
        <label class="label-2" for="lblFileSystem">osd hearbeat interval</label>
        <input id="lblFileSystem"  type="textbox" class="form-control" />
      </div>
      <div class="form-group">
        <label class="label-2" for="lblFileSystem">osd hearbeat grace</label>
        <input id="lblFileSystem"  type="textbox" class="form-control" />
      </div>
    <br>
    <br>
      <div class="form-group">
        <label class="label-2" for="lblFileSystem">disk near full threshold</label>
        <input id="lblFileSystem"  type="textbox" class="form-control" />
      </div>
      <div class="form-group">
        <label class="label-2" for="lblFileSystem">disk full threshold</label>
        <input id="lblFileSystem"  type="textbox" class="form-control" />
      </div>
</div>


</from>  -->