 <form class="form-inline">

<!--Basic-->
<div id="divBasicForm" class="module-wrap">
    <span class="module-title">Basic</span>
    <button id="btnSaveClusterBasic" class="btn btn-success btn-right" onclick='SaveClusterBasic()'>Save</button>
    <hr>
    <!--Warning tip-->
    <div id="divBasicMessage">
    </div>
    
    <!-- {{cluster_basic_data}} -->
      <div class="form-group">
        <label class="label-1" for="lblCluster">cluster</label>
        <input id="txtCluster" type="textbox" class="form-control" value="{{config_data.controller_address}}" readOnly="true"/>
      </div>
      <div class="form-group">
        <label class="label-1" for="selFileSystem">file system</label>
        <select id="selFileSystem" class="form-control" style="width:195px;">
          <option value="xfs">xfs</option>
          <option value="nfts">nfts</option>
        </select>
        <input id="hfFileSystem" type="hidden" value="{{cluster_basic_data.file_system}}"/>
      </div>
      <br>
      <br>
      <div class="form-group">
        <label class="label-1" for="lblManagementAddress">management addr.</label>
        <input id="lblManagementAddress" type="textbox" class="form-control" value="{{cluster_basic_data.management_addr}}" placeholder="192.168.0.1/10" />
      </div>
      <div class="form-group">
        <label class="label-1" for="lblCephPublicAddress">ceph public addr.</label>
        <input id="lblCephPublicAddress"  type="textbox" class="form-control" value="{{cluster_basic_data.ceph_public_addr}}" placeholder="192.168.0.1/10" />
      </div>
      <div class="form-group">
        <label class="label-1" for="lblCephClusterAddress">ceph cluster addr.</label>
        <input id="lblCephClusterAddress" type="textbox" class="form-control" value="{{cluster_basic_data.ceph_cluster_addr}}" placeholder="192.168.0.1/10" />
      </div>
</div>
<!--Storage-->
<div id="divStorageForm" class="module-wrap">
    <span class="module-title">Storage Group</span>
    <button btn="btnSaveStorage" class="btn btn-success btn-right" onclick="SaveClusterStorage()">Save</button>
    <hr>
     <!--message tip-->
    <div id="divStorageMessage">
    </div>

    <!-- {{cluster_storage_data}} -->
      <div class="form-group">
        <label class="label-1" for="lblStorageClass">storage class</label>
        <input id="txtStorageClass" type="textbox" class="form-control" />
        <a id="btnAddStorageClass" class="btn btn-primary" onclick='AddStorageClass()'>add</a>
      </div>
      <div id="divStorageClass1" class="form-group storage-class">
        {% for storage_class in cluster_storage_data.storage_class %}
          <span class="label label-info lable-storage-class" onclick='RemoveStorageClass(this)'>{{storage_class}}</span>
        {% endfor %}
      </div>
      <div class="option-bar">
        <a id="btnAddStorageGroup" class="btn btn-primary" onclick="AddStorageGroup()">Add Storage Group</a>
      </div>
      <table id="tStorageGroup" class="table table-bordered">
      <thead>
        <tr>
          <th>group name</th>
          <th>friendly name</th>
          <th>storage class</th>
          <th style="width:230px;"></th>
        </tr>
      </thead>
      <tbody>
        {% for storage_group in cluster_storage_data.storage_group %}
          <tr>
            <td class='group-name'>{{storage_group.group_name}}</td>
            <td class='friendly-name'>{{storage_group.friendly_name}}</td>
            <td class='storage-class'>{{storage_group.storage_class}}</td>
            <td><a class="btn btn-danger" onclick="RemoveStorageGroup(this)">remove</a></td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4">
              no data
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>


<!--Profiles-->
<div id="divProfilesForm" class="module-wrap">
    <span class="module-title">EC_Profiles</span>
    <button btn="btnSaveProfiles" class="btn btn-success btn-right" onclick='SaveClusterProfile()'>Save</button>
    <hr>
    <!--message tip-->
    <div id="divProfileMessage">
    </div>
    <div class="option-bar">
        <a btn="btnAddProfile" class="btn btn-primary" onclick="AddProfileGroup()">Add EC_Profile</a>
    </div>
    <table id="tProfiles" class="table table-bordered">
      <thead>
        <tr>
          <th>name</th>
          <th>pg number</th>
          <th>plugin name</th>
          <th>plugin path</th>
          <th>plugin data</th>
          <th style="width:230px;"></th>
        </tr>
      </thead>
      <tbody>
        {% for profile in cluster_profile_data %}
          <tr class="profile-row">
            <td class='profile-name'>{{profile.name}}</td>
            <td class='profile-pg-number'>{{profile.pg_num}}</td>
            <td class='profile-plugin-name'>{{profile.plugin_name}}</td>
            <td class='profile-plugin-path' >{{profile.plugin_path}}</td>
            <td class='profile-data'>{{profile.data}}</td>
            <td class="row-option">
                <a class="btn btn-danger" onclick="RemoveProfile(this)">remove</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4">
              no data
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

</div>

<!--Cache-->
<div id="divCacheForm" class="module-wrap">
    <span class="module-title">Cache</span>
    <a btn="btnSaveCache" class="btn btn-success btn-right" onclick="SaveClusterCache()">Save</a>
    <hr>
     <!--message tip-->
    <div id="divCacheMessage">
    </div>
      <div class="form-group">
        <label class="label-2" for="txt_ct_hit_set_count">ct hit set count</label>
        <input id="txt_ct_hit_set_count"  type="textbox" class="form-control txt-cache" value="{{cluster_cache_data.ct_hit_set_count}}" />
      </div>
      <div class="form-group">
        <label class="label-2" for="txt_ct_hit_set_period_s">ct hit set period s</label>
        <input id="txt_ct_hit_set_period_s"  type="textbox" class="form-control txt-cache" value="{{cluster_cache_data.ct_hit_set_period_s}}" />
      </div>
      <br>
      <br>
      <div class="form-group">
        <label class="label-2" for="txt_ct_target_max_objects">ct target max objects</label>
        <input id="txt_ct_target_max_objects"  type="textbox" class="form-control txt-cache" value="{{cluster_cache_data.ct_target_max_objects}}" />
      </div>
      <div class="form-group">
        <label class="label-2" for="txt_ct_target_max_mem_mb">ct target max mem mb</label>
        <input id="txt_ct_target_max_mem_mb"  type="textbox" class="form-control txt-cache" value="{{cluster_cache_data.ct_target_max_mem_mb}}" />
      </div>
      <br>
      <br>
      <div class="form-group">
        <label class="label-2" for="txt_ct_target_dirty_ratio">ct target dirty ratio</label>
        <input id="txt_ct_target_dirty_ratio"  type="textbox" class="form-control txt-cache" value="{{cluster_cache_data.ct_target_dirty_ratio}}" />
      </div>
      <div class="form-group">
        <label class="label-2" for="txt_ct_target_full_ratio">ct target full ratio</label>
        <input id="txt_ct_target_full_ratio"  type="textbox" class="form-control txt-cache" value="{{cluster_cache_data.ct_target_full_ratio}}" />
      </div>
      <br>
      <br>
      <div class="form-group">
        <label class="label-2" for="txt_ct_target_min_flush_age_m">ct target min flush age m</label>
        <input id="txt_ct_target_min_flush_age_m"  type="textbox" class="form-control txt-cache" value="{{cluster_cache_data.ct_target_min_flush_age_m}}" />
      </div>
      <div class="form-group">
        <label class="label-2" for="txt_ct_target_min_evict_age_m">ct target min evict age m</label>
        <input id="txt_ct_target_min_evict_age_m"  type="textbox" class="form-control txt-cache" value="{{cluster_cache_data.ct_target_min_evict_age_m}}" />
      </div>
</div>

<!--Settings-->
<div id="divSettingsForm" class="module-wrap">
    <span class="module-title">Settings</span>
    <a btn="btnSaveSettings" class="btn btn-success btn-right" onclick="SaveClusterSettings()">Save</a>
    <hr>
      <!--message tip-->
      <div id="divSettingMessage">
      </div>
      <div class="form-group">
        <label class="label-2" for="txt_storage_group_near_full_threshold">storage group near full threshold</label>
         <input id="txt_storage_group_near_full_threshold"  type="textbox" class="form-control txt-settings" value="{{cluster_settings_data.storage_group_near_full_threshold}}" />
      </div>
      <div class="form-group">
        <label class="label-2" for="txt_storage_group_full_threshold">storage group full threshold</label>
        <input id="txt_storage_group_full_threshold"  type="textbox" class="form-control txt-settings" value="{{cluster_settings_data.storage_group_full_threshold}}" />
      </div>
    <br>
    <br>
      <div class="form-group">
        <label class="label-2" for="txt_ceph_near_full_threshold">ceph near full threshold</label>
        <input id="txt_ceph_near_full_threshold"  type="textbox" class="form-control txt-settings" value="{{cluster_settings_data.ceph_near_full_threshold}}" />
      </div>
      <div class="form-group">
        <label class="label-2" for="txt_ceph_full_threshold">ceph full threshold</label>
        <input id="txt_ceph_full_threshold"  type="textbox" class="form-control txt-settings" value="{{cluster_settings_data.ceph_full_threshold}}" />
      </div>
    <br>
    <br>
      <div class="form-group">
        <label class="label-2" for="txt_pg_count_factor">pg count factor</label>
         <input id="txt_pg_count_factor"  type="textbox" class="form-control txt-settings" value="{{cluster_settings_data.pg_count_factor}}" />
      </div>
      <div class="form-group">
        <label class="label-2" for="txt_heartbeat_interval">heartbeat interval</label>
        <input id="txt_heartbeat_interval"  type="textbox" class="form-control txt-settings" value="{{cluster_settings_data.heartbeat_interval}}" />
      </div>
    <br>
    <br>
      <div class="form-group">
        <label class="label-2" for="txt_osd_heartbeat_interval">osd hearbeat interval</label>
         <input id="txt_osd_heartbeat_interval"  type="textbox" class="form-control txt-settings" value="{{cluster_settings_data.osd_heartbeat_interval}}" />
      </div>
      <div class="form-group">
        <label class="label-2" for="txt_osd_heartbeat_grace">osd hearbeat grace</label>
         <input id="txt_osd_heartbeat_grace"  type="textbox" class="form-control txt-settings" value="{{cluster_settings_data.osd_heartbeat_grace}}" />
      </div>
    <br>
    <br>
      <div class="form-group">
        <label class="label-2" for="txt_disk_near_full_threshold">disk near full threshold</label>
        <input id="txt_disk_near_full_threshold"  type="textbox" class="form-control txt-settings" value="{{cluster_settings_data.disk_near_full_threshold}}" />
      </div>
      <div class="form-group">
        <label class="label-2" for="txt_disk_full_threshold">disk full threshold</label>
        <input id="txt_disk_full_threshold"  type="textbox" class="form-control txt-settings" value="{{cluster_settings_data.disk_full_threshold}}" />
      </div>
</div>


</form>