
<!--Basic-->
<div id="divBasicForm" class="module-wrap">
   <!--Warning tip-->
  <div id="divServerMessage">
  </div>

  <span class="module-title">Server Manifest</span>
  <hr>
   <form class="form-inline">
    <div class="form-group">
      <label class="label-1" >vsm controller ip</label>
      <input id="txtServerIP" type="textbox" class="form-control txt-server-ip" readOnly="true"/>
    </div>
    <div class="form-group">
      <label class="label-1" >auth key</label>
      <input id="txtAuthKey" type="textbox" class="form-control" readOnly="true" value=''/>
    </div>
    <br>
    <br>
    <div class="form-group">
      <label class="label-1" for="lblStorageClass">role</label>
      <select id="selRole" class="form-control" style="width:195px;">
        <option value="storage">storage</option>
        <option value="monitor">monitor</option>
      </select>
    </div>
  </form>
</div> 


<div class="module-wrap server-path-container">

</div>