
<!--Basic-->
<div id="divBasicForm" class="module-wrap">
   <!--Warning tip-->
  <div id="divServerMessage">
  </div>

  <span class="module-title">Server Manifest</span>
  <hr>
   <form class="form-inline">
    <div class="form-group">
      <label class="label-1" >vsm controller ip</label>
      <input id="txtServerIP" type="textbox" class="form-control txt-server-ip" readOnly="true"/>
    </div>
    <div class="form-group">
      <label class="label-1" >auth key</label>
      <input id="txtAuthKey" type="textbox" class="form-control" readOnly="true" value='token-tenant'/>
    </div>
    <br>
    <br>
    <div class="form-group">
      <label class="label-1" for="lblStorageClass">role</label>
      <div class="checkbox">
        <label>
          <input id="ckbStorage" type="checkbox" name="ckbRole" value='storage'/>storage
        </label>
        <label>
          <input id="ckbMonitor" type="checkbox" name="ckbRole" value='monitor' /> monitor
        </label>
      </div>
    </div>
  </form>
</div> 


<div class="module-wrap server-path-container">

</div>