{% extends "base.html" %}

{% block title %}Virtual Storage Manager{% endblock%}

{% block js %}
	<script src="{{ STATIC_URL }}js/config.js"></script>
{% endblock %}

{% block content %}

<!--Warning tip-->
<div id="divWarning" class="alert alert-warning alert-dismissible"  hidden="hidden" role="alert">
  <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
  <strong>Warning!</strong> 
  <span id="lblWarningMsg"></span>
</div>

<!--Configuration-->
<div id="divBasicForm" class="module-wrap">
  <span class="module-title">Configuration</span>
  <hr>
  <form class="form-inline">
    <div class="form-group">
      <label class="label-1" for="txtClusterAddress">controller addr.</label>
      <input id="txtClusterAddress" type="textbox" class="form-control" value="{{config_data.controller_address}}" />
    </div>
  </form>
</div> 

<!--Nodes-->
<div id="divBasicForm" class="module-wrap">
  <span class="module-title">Nodes</span>
  <hr>
  <form class="form-inline">
    <div class="form-group">
      <label class="label-1" for="txtNodeAddress">node addr.</label>
      <input id="txtNodeAddress" type="textbox" class="form-control"/>
      <a id="btnAddNode" class="btn btn-primary" onclick="addNode()">add</a>
      <a id="btnClearNode" class="btn btn-primary" onclick="clearNode()">remove all</a>
    </div>
  </form>

  <div id="divNodes">
  	<ul id="ulNodes">
      <!--any IPs-->
      {% for node in config_data.nodes %}
      <li>
        <span class="node-ip">{{node}}</span>
        <img class='remove' src='/static/images/remove.png' onclick='removeNode(this);'>
      </li>
      {% endfor %}
  	</ul>
  </div>
</div> 

<div class="module-wrap form-option-bar">
	<hr>
   {% csrf_token %}
	<button id="btnSubmitConfig" btn="btnSubmit" class="btn btn-primary">Next Step</button>
	<button btn="btnCancel" class="btn ">Cancel</button>
</div>

{% endblock %}