{% extends "base.html" %}

{% block title %}Virtual Storage Manager{% endblock%}

{% block js %}
	 <script src="{{ STATIC_URL }}js/cluster.manifest.js"></script>
   <script src="{{ STATIC_URL }}js/server.manifest.js"></script>
{% endblock %}

{% block content %}

{% csrf_token %}

<div class="tab-pane fade"  hidden="hidden">
    {% include "pages/server.html" %} 
</div>

<!--Tabs-->
<ul id="tabManifest" class="nav nav-tabs">
  <li class="active">
	  <a href="#divCluster" data-toggle="tab" style="color:red" onclick="SelecteClusterTab()">
      Cluster:{{conf.controller_address}}
    </a>
	</li>
  {% for node in conf.nodes %}
    <li class="tab-server">
      <a id="link_node_{{ forloop.counter}}" href="#node_{{ forloop.counter}}" data-toggle="tab" class='server-link' onclick="SelecteTab({{ forloop.counter }})">{{node}}</a>
    </li>
  {% endfor %}
</ul>

<div id="myTabContent" class="tab-content">
	<div id="divCluster" class="tab-pane fade in active" >
    {% include "pages/cluster.html" %}
  </div>

    {% for node in conf.nodes %}
    <div id="node_{{ forloop.counter }}" class="tab-pane fade" >
        {% include "pages/server.html" %} 
    </div>
  {% endfor %}
</div>

<div id="#modal_wrapper"></div>

{% endblock %}

