{% extends "base.html" %}

{% block title %}Virtual Storage Manager{% endblock%}

{% block js %}
  <script src="{{ STATIC_URL }}js/installer.js"></script>
{% endblock %}

{% block content %}
<br>
<div id="divFileUpload" class="module-wrap">
	<form  method="post" class="form-inline" enctype="multipart/form-data">
		<div class="form-group">
			<a id="linkUploadfile" href="#" class="file btn btn-default">
				{{form}}
				<span>选择上传文件</span>
			</a>
		</div>
		<input id="btnInstall" type="submit"  class="btn btn-success"  value="install"/>
		<span id="lblInstallMark">Installing...</span>
	</form>
</div>


<div id="divFileInfo" class="module-wrap">
	<!--Warning tip-->
    <div id="divClusterMessage">

    </div>


	<div class="form-group">
      	<label class="label-1" style="text-align:left;margin-left:30px" for="txtClusterAddress">FileName:</label>
     	<span id="lblFileName">{{file_name}}</span>
    </div>
    <div class="form-group">
      	<label class="label-1" style="text-align:left;margin-left:30px" for="txtClusterAddress">log:</label>
      	<div id="txtLogContainer" style="margin-left:40px;"></div>
     	<input id="hfHiddenLog" type="hidden" value="{{log}}" />
    </div>
</div>


{% endblock %}